.App {
  text-align: center;
}

app .app {
  background-image: url('./img/bg.jpg');
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

app .app .colorBar{
  height: 4.35vh;
  background-color: #F0BDFF;
}

app .app .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



app .app .menui {
  background-color: #F9E6FF;
  margin-right: 0.83vw;
  padding-right: 3.85vw;
  padding-left: 3.85vw;
  padding-top: 3.06vh;
  border-radius: 4.63vh;
  padding-bottom: 3.06vh;
  font-size: 2.21vh;

}
app .app .menuii {
  background-color: #F9E6FF;
  margin-right: 1.93vw;
  padding-right: 2.86vw;
  padding-left: 2.86vw;
  padding-top: 3.06vh;
  border-radius: 4.63vh;
  padding-bottom: 3.06vh;
  font-size: 2.21vh;

}

app .app .table {
  display: flex;
  margin-bottom: 4.35vh;
  height: 15.09vh;
  /* border: 1px solid black; */
  align-items: center;
  justify-content: center;
  background-color: white;
}


app .app .App-logo {
  height: 13.3vh;
  margin-right: 2.34vw;
  margin-left: 1.15vw;
}