.up .App {
  text-align :center;
}

.up {
  background-image :url('./img/bg.jpg');
  min-height :100vh;
  font-size: 1.24vw;
  font-family: 'Mali', cursive;
}

.up .App-logo {
  height :40vmin;
}

.up .App-logohover {
  cursor :pointer;
}

@media (prefers-reduced-motion :no-preference) {
  .up .App-logo {
    animation:App-logo-spin infinite 20s linear;
  }
}

.up .colorBar{
  height :4.35vh;
  background-color :#F0BDFF;
}

.up .App-header {
  background-color :#282c34;
  min-height :100vh;
  display :flex;
  flex-direction :column;
  align-items :center;
  justify-content :center;
  font-size: calc(10px + 2vmin);
  color :white;
}

.up .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform :rotate(0deg);
  }
  to {
    transform :rotate(360deg);
  }
}

.up .table .menui {
  user-select :none;
  background-color :#F9E6FF;
  margin-right :0.83vw;
  margin-left: 0.83vw;
  padding-right :3.85vw;
  padding-left :3.85vw;
  padding-top :3.06vh;
  border-radius :4.63vh;
  padding-bottom :3.06vh;
  font-size: 1.24vw;
  transition :background-color 0.5s, opacity 0.5s, color 0.5s ,box-shadow 0.5s;
  text-decoration :none;
}
.up .table .menui:hover{
  cursor :pointer;
  opacity :0.8;
  box-shadow: 0vh 0.37vh 0.74vh 0vh rgba(0, 0, 0, 0.5);
}
.up .table .menui:active{
  background-color :#d754ff;
  color :#F9E6FF;
}

.up .table .menuii {
  user-select: none;
  background-color: #F9E6FF;
  margin-right:1.93vw;
  padding-right :2.86vw;
  padding-left :2.86vw;
  padding-top :3.06vh;
  border-radius :4.63vh;
  padding-bottom :3.06vh;
  font-size: 1.24vw;
  transition :background-color 0.5s, opacity 0.5s, color 0.5s, box-shadow 0.5s;
  text-decoration :none;
}
.up .table .menuii:hover {
  cursor :pointer;
  opacity :0.8;
  box-shadow :0vh 0.37vh 0.74vh 0vh rgba(0, 0, 0, 0.5);
}
.up .table .menuii:active{
  background-color :#d754ff;
  color :#F9E6FF;
}

.up .table .menuiii {
  user-select :none;
  background-color :#F9E6FF;
  margin-right :1.93vw;
  padding-right :2.86vw;
  padding-left :2.86vw;
  padding-top :3.06vh;
  border-radius :4.63vh;
  padding-bottom :3.06vh;
  font-size: 1.24vw;
  transition :background-color 0.5s, opacity 0.5s, color 0.5s, box-shadow 0.5s;
  text-decoration :none;
}
.up .table .menuiii:hover {
  cursor :pointer;
  opacity :0.8;
  box-shadow :0vh 0.37vh 0.74vh 0vh rgba(0, 0, 0, 0.5);
}
.up .table .menuiii:active{
  background-color :#d754ff;
  color :#F9E6FF;
}

.up .table .menuiv {
  user-select :none;
  background-color :#F9E6FF;
  margin-right :1.93vw;
  padding-right :2.86vw;
  padding-left :2.86vw;
  padding-top :3.06vh;
  border-radius :4.63vh;
  padding-bottom :3.06vh;
  font-size: 1.24vw;
  transition :background-color 0.5s, opacity 0.5s, color 0.5s, box-shadow 0.5s;
  text-decoration :none;
}
.up .table .menuiv:hover {
  cursor :pointer;
  opacity: 0.8;
  box-shadow :0vh 0.37vh 0.74vh 0vh rgba(0, 0, 0, 0.5);
}
.up .table .menuiv:active{
  background-color :#d754ff;
  color :#F9E6FF;
}

.up .table .menuv {
  user-select:none;
  background-color :#F9E6FF;
  margin-right :1.93vw;
  padding-right :2.86vw;
  padding-left: 2.86vw;
  padding-top :3.06vh;
  border-radius :4.63vh;
  padding-bottom :3.06vh;
  font-size: 1.24vw;
  transition :background-color 0.5s, opacity 0.5s, color 0.5s, box-shadow 0.5s;
  text-decoration: none;
}
.up .table .menuv:hover {
  cursor :pointer;
  opacity :0.8;
  box-shadow :0vh 0.37vh 0.74vh 0vh rgba(0, 0, 0, 0.5);
}
.up .table .menuv:active{
  background-color :#d754ff;
  color: #F9E6FF;
}

.up .table .menuvi {
  user-select :none;
  background-color :#F9E6FF;
  margin-right :1.93vw;
  padding-right :2.86vw;
  padding-left :2.86vw;
  padding-top :3.06vh;
  border-radius :4.63vh;
  padding-bottom :3.06vh;
  font-size: 1.24vw;
  transition :background-color 0.5s, opacity 0.5s, color 0.5s, box-shadow 0.5s;
  text-decoration :none;
}
.up .table .menuvi:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow :0vh 0.37vh 0.74vh 0vh rgba(0, 0, 0, 0.5);
}
.up .table .menuvi:active{
  background-color :#d754ff;
  color: #F9E6FF;
}

.up .table .menuvii {
  user-select :none;
  background-color :#F9E6FF;
  margin-right :1.93vw;
  padding-right :2.86vw;
  padding-left :2.86vw;
  padding-top: 3.06vh;
  border-radius :4.63vh;
  padding-bottom :3.06vh;
  font-size: 1.24vw;
  transition :background-color 0.5s, opacity 0.5s, color 0.5s, box-shadow 0.5s;
  text-decoration :none;
}
.up .table .menuvii:hover {
  cursor :pointer;
  opacity: 0.8;
  box-shadow :0vh 0.37vh 0.74vh 0vh rgba(0, 0, 0, 0.5);
}
.up .table .menuvii:active{
  background-color :#d754ff;
  color: #F9E6FF;
}

.up .table {
  display :flex;
  height :15.09vh;
   border :1px solid black; 
  align-items: center;
  justify-content: center;
  background-color: white;
}

.up .table .App-logo {
  height :13.3vh;
  margin-right :2.34vw;
  margin-left: 1.15vw;
}

.up .heads {
  display :flex;
  justify-content :center;
  margin-top: 3.06vh;
}

.up .headsi {
  user-select :none;
  font-size :2.84vh;
  font-weight :bold;
  background-color: white;
  border :solid black;
  border-radius :3.56vh;
  padding :3.24vh 3.02vw;
  height: fit-content;
}

.up .headsi:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 0.2vh 0.2vh 0 rgba(0, 0, 0, 0.5);
}

.up .headsii {
  user-select :none;
  font-size: 3.88vh;
  font-weight: bold;
  margin-right :14vw;
  margin-left :14vw;
  background-color: white;
  border :solid black;
  border-radius :3.56vh;
  padding :3.24vh 9.01vw;
}

.up .search {
  font-size :2.5vh;
  border-radius :2.31vh;
  height :fit-content;
  margin-top :4.59vh;
}

.up .infobar {
  display :flex;
  margin-top :3.52vh;
  justify-content :center;
  
}

.up .infobar .info {
  background-color :white;
  height: 27.15vh;
  width: 30.52vw;
  border :solid black;
  border-radius :3.56vh;
  font-size :1vw;
  text-align: center;
}

.up .table .ebar .dropdown {
  display :none;
  position :absolute;
  background-color :white;
  min-width :6.25vw;
  box-shadow :0vh 0.74vh 1.48vh 0vh rgba(0,0,0,0.1);
  z-index :1;
  margin-right :6vw;
  border-radius :1.39vh;
}

.up .table .ebar .dropdown a{
  color :black;
  padding :0.75vh 1vw;
  text-decoration :none;
  display :block;
  text-align :left;
  user-select :none;
  border-radius :1.39vh;
  transition :background-color 0.4s, color 0.4s;
}

.up .table .ebar .dropdown a:hover {
  background-color :#d754ff;
  color:white;
}

.up .table .ebar:hover .dropdown{
  display :block;
  right :0;
  margin-right: 3vw;
}

.up .ebar {
  margin-right :0.83vw;
  margin-left :3.85vw;
  border-radius :4.63vh;
  font-size :3.5vh;
  display :inline-block;
  cursor :pointer;
}

.up .tiname .title {
  display: block;
  justify-content: center;
}

.up .content .radio{
  height: 2.21vh;
  width: 1.24vw;
  background-color: black;
  cursor: pointer;
}

.up .content{
  margin-top: 5vh;
  background-color: #F9E6FF;
  border-radius: 4vh;
  border: 0.5vh solid black;
  text-align: center;
  width: 60vw;
  font-weight: bold;
}

.up .content .holeRadio{
  margin: 3vh 0px;
}

.up .content .title{
  width: 40vw;
  height: 4vh;
  margin-bottom: 3vh;
  font-family: 'Mali',cursive;
  font-size: 1vw;
  font-weight: bold;
}

.up .content .description{
  min-width: 40vw;
  min-height: 8vh;
  margin-bottom: 3vh;
  resize: vertical;
  font-family: 'Mali',cursive;
  font-size: 1vw;
  font-weight: bold;
}

.up .content .uploadText{
  margin-left: 4vw;
}

.up .content .submit{
  border-radius: 1vh;
  border: 0.1vh solid black;
  font-family: 'Mali', cursive;
  font-size: 1vw;
  margin-bottom: 3vh;
  font-weight: bold;
}

